/*************\
  DEFAULTS
\*************/

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: beige;
    display: block;
    text-align: left;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

div {
    font-family: 'Courier New', Courier, monospace;
}

/*************\
  Background
\*************/

body {
    background-color: rgb(66, 55, 50);
}

img.tyrunt {
    border: 1px solid black;
    display: block;
    margin: auto;
    float: right;
    transform: scaleX(-1);
    width: 50px;
    height: auto;
}

/*************\
  DIV SETTINGS
\*************/

ul {
    list-style-type: none;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    display: flex;
}

ul a {
    display: block;
    color: white;
    background-color: rgb(144, 123, 97);
    text-align: center;
    border-right: 1px solid black;
    padding: 8px 16px;
    text-decoration: none;
}

ul a:hover {
    background-color: rgb(173, 118, 118);
    color: black;
}

.active {
    background-color: rgb(172, 100, 50);
    color: white;
}

/*************\
  HOUSE RULES
\*************/

h2.rules {
    background-color: rgb(172, 100, 50);
    border:  2px solid black;
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
}

h3.rules {
    background-color: rgb(184, 144, 90);
    border:  2px solid black;
    text-align:left;
    text-indent: 5px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

h4.rules {
    background-color: rgb(184, 144, 90);
    border:  2px solid black;
    width: 100%;
    text-align:left;
    text-indent: 5px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

ul.rules {
    background-color: rgb(255, 246, 196);
    border: 2px;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    padding: 5px;
    margin: -20px;
}

div.weaponParent {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

h2.weapon {
    background-color: rgb(184, 144, 90);
    border:  2px solid black;
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
}

h3.weapon {
    background-color: rgb(184, 144, 90);
    border:  2px solid black;
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

p.rules {
    background-color: rgb(255, 246, 196);
    border:  2px solid black;
    text-align: left;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    margin-top: -20px;
    padding: 5px;
}

b.rules {
    color: black;
}

em.rules {
    color: darkgreen;
}

div.rules {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

table.rules, th.rules, td.rules {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid;
    border-style: solid;
    background-color: rgb(255, 246, 196);
    margin-top: -20px;
    padding: 10px;
}

/*************\
  TOOL TIPS
\*************/

.tooltip {
  position: relative;
  cursor:help;
  display: inline-block;
  border-bottom: 1px solid black;
}

.tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  transform: translateX(-100%);
  width: 300px;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  display: inline-block;
  z-index: 1;
  font-size: 12px;
  pointer-events: none;
  font-family: 'Courier New', Courier, monospace;
}

/*************\
 WEAPON SYSTEM
\*************/

.divTxt {
    width: auto;
    height: 275px;
    border: 2px solid black;
    margin-top: -20px;
    background-color: rgb(255, 246, 196);
}

select.weaponbox {
    display: block;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #333;
    color: #fff;
}


.parent2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px;
}
    
.div2_1 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
}

.div2_2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 1;
}

.div2_3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div2_4 {
      grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.divAlt {
    width: auto;
    height: 100%;
    text-align: center;
    border: 2px solid black;
    margin-top: -20px;
    background-color: rgb(255, 246, 196);
}

.divBreak {
    width: auto;
    height: 100%;
    text-align: center;
    border: 2px solid black;
    margin-top: -20px;
    background-color: rgb(255, 246, 196);
}
        
.hidden-text {
    display: none;
}

.thresholdTxt {
    display: inline-block;
    border-bottom: 1px solid black;
}

div.tier {
    width: auto;
    height: 100%;
    background-color: rgb(255, 246, 196);
    border: 2px solid black;
    margin-top: -20px;
    text-align: center;
}


.tableFixHead          { overflow: auto; height: 275px; width: auto;}
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }
.tableFixHead tbody th { position: sticky; left: 0; }

table  { border-collapse: collapse; width: 100%;  }
th, td { padding: 8px 16px; border: 1px solid black; }
th     { background:rgb(172, 100, 50); border-bottom: 1px solid black; }

#myInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid black; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

/*************\
      Maps
\*************/

p.campaign {
    background-color: rgb(255, 246, 196);
    padding: 5px;
    border:  2px solid black;
    text-align: left;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    margin-top: -20px;
}

img.mapPreview {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  width: 98%;
  margin-top: -18px;
  background-color: rgb(255, 246, 196);
}

p.mapPreview {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    background-color: rgb(184, 144, 90);
    width: 98%;
}

.mapParent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
    margin-top: -23px;
}

.divTearPol {     
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2; 
}
.divTearGeo {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
}

/*************\
      HOME
\*************/

div.landingParent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.landingChild {
    width: 75%;
}

p.landing {
    padding: 5px;
    background-color: rgb(255, 246, 196);
    box-sizing: border-box;
}

img.landingImg {
    width: 100%;
}

p.update {
    border: 1px solid black;
    background-color: darkorange;
    color: black;
    text-align: center;
    align-content: bottom;
}

.citation {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    align-content: bottom;
    border: 1px solid black;
    background-color: rgb(184, 144, 90);
    justify-content: stretch;
}

/*************\
    PANTHEON
\*************/

.parentPantheon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

div.pantheon {
    background-color: rgb(255, 246, 196);
    border: 1px solid black;
    width: 45%;
}

div.pantheonTxt {
    background-color: red;
    overflow: auto;
}

p.pantheon {
    background-color: rgb(255, 246, 196);
    padding: 5px;
    text-align: center;
}

h1.pantheon {
    background-color: rgb(184, 144, 90);
    text-align: center;
}

h2.pantheon {
    text-align: center;
}


/*************\
  HOUSE RULES
\*************/

div.homebrewParent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;

}

div.homebrewChild {
    margin: 15px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: rgb(255, 246, 196);
    border: 2px solid black;
    align-content: top;
}

p.homebrew {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding-left: 5px;
}

h2.homebrew {
    font-family: 'Courier New', Courier, monospace;
    margin-top: -1px;
    text-align: left;
    padding-left: 5px;
    background-color: rgb(184, 144, 90);
    border-bottom: 2px dotted black;
}

h3.homebrew {
    font-family: 'Courier New', Courier, monospace;
    margin-top: -1px;
    text-align: left;
    padding-left: 5px;
    border-bottom: 1px dashed black;
}

h4.homebrew {
    font-family: 'Courier New', Courier, monospace;
    margin-top: -1px;
    text-align: left;
    padding-left: 5px;
}

/*************\
      SoE
\*************/

summary.intro {
    background-color: rgb(184, 144, 90);
    padding: 5px;
    border: 2px solid black;
    border-bottom: 2px solid black;
    justify-content: center;
}

details.intro {
    background-color: rgb(255, 246, 196);
    margin: 10px;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;
}

p.intro {
    padding-left: 5px;
    font-family: 'Courier New', Courier, monospace;
}

input.intro {
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(172, 100, 50);
    color: beige;
    font-size: medium;
}

input.intro:hover {
    background-color: rgb(173, 118, 118);
    color:  black;
}

div.intro {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 2px;
    gap: 2px;
}

div.introParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

/*************\
    BESTIARY
\*************/

div.bestiaryParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

div.bestiaryChild {
    display: flex;
    flex-direction: column;
}

/*************\
     PC'S
\*************/

div.playerParent {
    background-color: rgb(255, 246, 196);
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}

div.playerChild {
    color: white;
    text-align: center;
    background-color: rgb(40, 90, 62);
    width: 300px;
    margin: 10px;
    padding: 5px;
    border: 3px solid black;
}

h2.players {
    text-align: center;
    color: bisque;
}

/*************\
    Weapon2
\*************/

h3.weaponName {
    color: white;
    text-transform:uppercase;
}
h4.weaponTier {
    color: burlywood;
}
p.weaponRestrict {
    color: #ddd;
}
input.searchBox {
    text-align: center;
}

div.weaponParentNew {
    display: flexbox;
    align-content: center;
    height: 50vh;
    overflow-y: auto;
}

div.weaponChild {
    margin: 5px;
    display: flex;
    flex-direction: row;
    padding-left: 15vw;
}

div.weaponLeft {
    text-align: center;
    background-color: rgb(172, 100, 50);
    padding-left: 5px;
    padding-right: 5px;
    width: 20vh;
    border: solid black 2px;
    border-right: solid black 0px;
}

div.weaponRight {
    background-color: rgb(255, 246, 196);
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
    width: 80vh;
    border: solid black 2px;
}